body{
    font-family: 'DM Sans', sans-serif;
}

.header{
    text-decoration: none;
    color: #901C1C;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    width: 75%;
}

.header>a{
    color: #901C1C;
    font-size: 1rem;
    font-family: 'DM Sans', sans-serif;
    margin-top: 1.5rem;
    margin-right: 0rem;
}

header img {
    width: 15rem;
}

.filters{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 2.8rem 0;

}

.filters>li{
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    padding: 0.2rem 0.4rem;
    color: #9c2e2e;
    margin: 0 0.1rem;
    cursor: pointer;
    font-weight: 600;
}

.filters>li:hover{
    background-color: #901C1C;
    color: white;
}

main>h1{
    color: #901C1C;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.5rem;
    position: absolute;
    top: 3rem;
    right: 5%;
}
#container{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photographerContainer{
    width: 22rem;
    margin: 0.5rem;
    padding: 0.3rem;
}
.portraitBox{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 20px 3px rgba(128, 128, 128, 0.356)
}

.portraitBox>img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.name, .city, .tags, .tagline, .price{
    text-align: center;
}

.name{
    color: #D3573C;
    margin-bottom: 0;
    margin-bottom: 0.7rem;
}

.price{
    color: #757575;
    margin: 0;
}

.city{
    color: #901C1C;
    margin: 0.2rem;
}

.tagline{
    margin: 0 ;
}

.tag {
    border: 1px solid #C4C4C4;
    border-radius: 20px; 
    padding: 0.2rem 0.4rem;
    color: #901C1C;
}
.photographer-tags{
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0.2rem;
}

.photographerContainer>ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.photographer-tags:hover {
    background-color: #901C1C;
    color: white;
}
.active{
    background-color: #901C1C !important;
    color: white !important;
}

.photographerContainer>a{
    text-decoration: none;
}

#passer-au-contenu{
    position: fixed;
    top: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background-color: #DB8876;
    border-radius: 8px;
    padding: 0.4rem 0.7rem;
    color: black;
    border: none;
    font-weight: 600;
    cursor: pointer;
    display: none;
    text-decoration: none;
}

#passer-au-contenu:hover{
    color: white;
    background-color: #901C1C;
}
