body{
    font-family: 'DM Sans', sans-serif;
}
.portraitBox{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin: 1rem;
    overflow: hidden;
    position: absolute;
    right: 2rem;
    top: -0rem;
}

.portraitBox>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#photographer_gallery{
    margin-top: 0rem !important;
    width: 100%;
    margin: 0;
    margin-bottom: 5rem !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.photo-box{
    width: 22rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    
}

.photo-box>.photo{
    width: 22rem;
    height: 20rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.photo-box>.photo>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.photo>img, .photo>iframe {
    border-radius: 10px;
}